*{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500px;   
}


.grilla{
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    width:1440px;
}

.imagenes{
    grid-column: 1;
    background-image: url(img/bg-main-desktop.png);
    background-repeat:no-repeat ;
    height: 100vh;
}
.formulario{
    grid-column: 2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}